# Node.js dependencies
/node_modules/

# Next.js internals
/.next/
/out/

# Next.js builds
/build/

# MacOS Finder files
.DS_Store

# Environment variables
.env*
!.env.example

# TypeScript internals
next-env.d.ts
